* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Helvetica Neue, Arial;
  font-size: 18px;
}

h1, h2 {
  color: #069a11;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

.main-text {
  text-align: justify;
}

.author-text {
  font-size: 22px;
  float: left;
  margin-top: 35px;
  margin-left: 10px;
}

.container {
  width: 1140px;
  margin: 20px auto 0 auto;
}

.blog-post {
  float: left;
  width: 75%;
  padding: 20px;
  position: relative;
}

.other-posts {
  float: left;
  width: 25%;
}

.author-box {
  padding-top: 30px;
  border-top: 1px #808080;
}
.other {
  margin-bottom: 40px;
}

.author-box img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}

.blog-post img {
  height: 150px;
  width: auto;
}

.date {
  position: absolute;
  top: 20px;
  right: 20px;
}
